USE [HotelDB]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 05.03.2026 1:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RoomId] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingServices]    Script Date: 05.03.2026 1:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingServices](
	[BookingServiceId] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[ServiceId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[PriceAtBooking] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 05.03.2026 1:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[PaymentMethod] [nvarchar](20) NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 05.03.2026 1:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomId] [int] IDENTITY(1,1) NOT NULL,
	[RoomNumber] [nvarchar](10) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[PricePerNight] [decimal](10, 2) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 05.03.2026 1:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServiceId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 05.03.2026 1:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([BookingId], [UserId], [RoomId], [StartDate], [EndDate], [Status]) VALUES (1, 2, 7, CAST(N'2026-03-20' AS Date), CAST(N'2026-03-27' AS Date), N'Cancelled')
INSERT [dbo].[Bookings] ([BookingId], [UserId], [RoomId], [StartDate], [EndDate], [Status]) VALUES (2, 2, 7, CAST(N'2026-03-04' AS Date), CAST(N'2026-03-05' AS Date), N'Confirmed')
INSERT [dbo].[Bookings] ([BookingId], [UserId], [RoomId], [StartDate], [EndDate], [Status]) VALUES (3, 3, 4, CAST(N'2026-03-04' AS Date), CAST(N'2026-03-21' AS Date), N'Confirmed')
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[BookingServices] ON 

INSERT [dbo].[BookingServices] ([BookingServiceId], [BookingId], [ServiceId], [Quantity], [PriceAtBooking]) VALUES (1, 4, 2, 2, CAST(1500.00 AS Decimal(10, 2)))
INSERT [dbo].[BookingServices] ([BookingServiceId], [BookingId], [ServiceId], [Quantity], [PriceAtBooking]) VALUES (2, 5, 4, 23, CAST(2000.00 AS Decimal(10, 2)))
INSERT [dbo].[BookingServices] ([BookingServiceId], [BookingId], [ServiceId], [Quantity], [PriceAtBooking]) VALUES (3, 6, 1, 3, CAST(500.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[BookingServices] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentId], [BookingId], [Amount], [PaymentMethod], [PaymentDate], [Status], [Description]) VALUES (1, 1, CAST(2184.00 AS Decimal(10, 2)), N'Cash', CAST(N'2026-03-04T23:51:15.217' AS DateTime), N'Completed', NULL)
INSERT [dbo].[Payments] ([PaymentId], [BookingId], [Amount], [PaymentMethod], [PaymentDate], [Status], [Description]) VALUES (2, 2, CAST(312.00 AS Decimal(10, 2)), N'Card', CAST(N'2026-03-04T23:54:24.183' AS DateTime), N'Completed', NULL)
INSERT [dbo].[Payments] ([PaymentId], [BookingId], [Amount], [PaymentMethod], [PaymentDate], [Status], [Description]) VALUES (3, 3, CAST(2550.00 AS Decimal(10, 2)), N'Cash', CAST(N'2026-03-04T23:58:03.667' AS DateTime), N'Completed', NULL)
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([RoomId], [RoomNumber], [Type], [PricePerNight], [Status]) VALUES (1, N'101', N'Standard', CAST(100.00 AS Decimal(10, 2)), N'Available')
INSERT [dbo].[Rooms] ([RoomId], [RoomNumber], [Type], [PricePerNight], [Status]) VALUES (2, N'102', N'Standard', CAST(100.00 AS Decimal(10, 2)), N'Available')
INSERT [dbo].[Rooms] ([RoomId], [RoomNumber], [Type], [PricePerNight], [Status]) VALUES (3, N'201', N'Deluxe', CAST(150.00 AS Decimal(10, 2)), N'Available')
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([ServiceId], [Name], [Description], [Price]) VALUES (1, N'Завтрак', N'Шведский стол в ресторане отеля', CAST(500.00 AS Decimal(10, 2)))
INSERT [dbo].[Services] ([ServiceId], [Name], [Description], [Price]) VALUES (2, N'Трансфер', N'Такси от/до аэропорта', CAST(1500.00 AS Decimal(10, 2)))
INSERT [dbo].[Services] ([ServiceId], [Name], [Description], [Price]) VALUES (3, N'Парковка', N'Охраняемая парковка на сутки', CAST(300.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Login], [Password], [Role]) VALUES (1, N'admin', N'admin123', N'Admin')
INSERT [dbo].[Users] ([UserId], [Login], [Password], [Role]) VALUES (2, N'user1', N'123', N'User')
INSERT [dbo].[Users] ([UserId], [Login], [Password], [Role]) VALUES (3, N'qwe', N'1234', N'User')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Rooms__AE10E07A356599BF]    Script Date: 05.03.2026 1:34:15 ******/
ALTER TABLE [dbo].[Rooms] ADD UNIQUE NONCLUSTERED 
(
	[RoomNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__5E55825B708649BD]    Script Date: 05.03.2026 1:34:15 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[BookingServices] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ('Completed') FOR [Status]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ('Available') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('User') FOR [Role]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([RoomId])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[BookingServices]  WITH CHECK ADD FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([BookingId])
GO
ALTER TABLE [dbo].[BookingServices]  WITH CHECK ADD FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([ServiceId])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([BookingId])
GO
